    <div class="content">
        <div class="jumbotron">
            <h1><em>Let The Good That Bring Out The Beauty In You</em></h1>
        </div>
    </div>
    <h1 id="home_text"><em>Make Appointments 24/7</em></h1>
    <div></div>
    <div id="home_page_pic_div">
        <div class="container">
            <div class="row">
                <div class="col-md-4"><%= image_tag("style_five_2") %></div>
                <div class="col-md-4"><%= image_tag("style_eight_2") %></div>
                <div class="col-md-4"><%= image_tag("style_four_2") %></div>
            </div>
        </div>
    </div>
    <div id="home_div_two">
        <div class="container">
            <div class="row">
                <div class="col-md-4"><%= image_tag("style_six_2") %></div>
                <div class="col-md-4"><%= image_tag("style_seven_2") %></div>
                <div class="col-md-4"><%= image_tag("style_nine_2") %></div>
            </div>
        </div>
    </div>
    <div id="home_pic_div_row_three">
        <div class="container">
            <div class="row">
                <div class="col-md-4"><%= image_tag("style_two_2") %></div>
                <div class="col-md-4"><%= image_tag("style_three_2") %></div>
                <div class="col-md-4"><%= image_tag("style_ten_2") %></div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
